body {
    background-color: #ed8038;
}

a {
    color: #ff6600;
}

a:hover {
    color: #833a00;
}

.shadow-left-right {
    box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.5), -5px 0 5px -5px rgba(0, 0, 0, 0.5);
}

.rounded-left {
    border-radius: 5px 0 0 5px;
}

.rounded-right {
    border-radius: 0 5px 5px 0;
}

.img-input {
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

.img-preview {
    width: 100% !important;
    background-color: #fff !important;
    border: 1px solid #dee2e6 !important;
    border-radius: 5px 5px 0 0;
}

.clear-img-btn {
    bottom: -37px;
    border-radius: 0 0 5px 0;
}