{{ form_start(searchbarForm) }}
<div role="search" class="row">
    <div class="col pe-0">
        {{ form_row(searchbarForm.search) }}
    </div>
    <div class="col-auto ps-0">
        {{ form_row(searchbarForm.submit) }}
    </div>
</div>
{{ form_end(searchbarForm) }}